img {
  float: right;
  height: 25%;
  width: 25%;
}
h1 {
  text-align: center;
}
h3 {
  text-align: center;
}
h2 {
  text-align: center;
}
body {
  background-color: #dbdee0;
}
.well {
  background-color: #f9fcff;
}
.jumbotron {
  background-color: #d2e7f4;
}
.header-border {
  background-color: #d2e7f4;
}
